Car_Rental_WS/src/main/resources/cc_client.wsdl

<wsdl:definitions xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://tempuri.org/">
<wsdl:types>
<s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
<s:element name="convertCurrency">
<s:complexType>
<s:sequence>
<s:element minOccurs="0" maxOccurs="1" name="toCurrency" type="s:string"/>
<s:element minOccurs="1" maxOccurs="1" name="amount" type="s:double"/>
</s:sequence>
</s:complexType>
</s:element>
<s:element name="convertCurrencyResponse">
<s:complexType>
<s:sequence>
<s:element minOccurs="1" maxOccurs="1" name="convertCurrencyResult" type="s:double"/>
</s:sequence>
</s:complexType>
</s:element>
</s:schema>
</wsdl:types>
<wsdl:message name="convertCurrencySoapIn">
<wsdl:part name="parameters" element="tns:convertCurrency"/>
</wsdl:message>
<wsdl:message name="convertCurrencySoapOut">
<wsdl:part name="parameters" element="tns:convertCurrencyResponse"/>
</wsdl:message>
<wsdl:portType name="CurrencyConverterSoap">
<wsdl:operation name="convertCurrency">
<wsdl:input message="tns:convertCurrencySoapIn"/>
<wsdl:output message="tns:convertCurrencySoapOut"/>
</wsdl:operation>
</wsdl:portType>
<wsdl:binding name="CurrencyConverterSoap" type="tns:CurrencyConverterSoap">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
<wsdl:operation name="convertCurrency">
<soap:operation soapAction="http://tempuri.org/convertCurrency" style="document"/>
<wsdl:input>
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
</wsdl:binding>
<wsdl:binding name="CurrencyConverterSoap12" type="tns:CurrencyConverterSoap">
<soap12:binding transport="http://schemas.xmlsoap.org/soap/http"/>
<wsdl:operation name="convertCurrency">
<soap12:operation soapAction="http://tempuri.org/convertCurrency" style="document"/>
<wsdl:input>
<soap12:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap12:body use="literal"/>
</wsdl:output>
</wsdl:operation>
</wsdl:binding>
<wsdl:service name="CurrencyConverter">
<wsdl:port name="CurrencyConverterSoap" binding="tns:CurrencyConverterSoap">
<soap:address location="https://localhost:44393/CurrencyConverter.asmx"/>
</wsdl:port>
<wsdl:port name="CurrencyConverterSoap12" binding="tns:CurrencyConverterSoap12">
<soap12:address location="https://localhost:44393/CurrencyConverter.asmx"/>
</wsdl:port>
</wsdl:service>
</wsdl:definitions>
